<div class="streams-container">
  <div class="section-header">
    <h2>{{section}}</h2>
  </div>
  <div class="videos-display">
    <div ng-repeat="stream in streams | limitTo:6" class="top-videos-item thumbnail">
      <!-- <img ng-src="{{name.preview.large}}" alt="image"> -->
      <div class="caption">
        <img ng-src="{{stream.preview.large}}" alt="film-image"></img>
        <h4>{{stream.channel.name}} <span>is playing</span></h4>
        <h3>{{stream.channel.game}}</h3>
        <button type="button" class="btn form-control modal-button" data-toggle="modal" data-target="#{{ stream._id }}">Video</button>
      </div>
      <!-- Modal -->
      <div class="container modal fade game-modal" id="{{stream._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{stream.channel.game}} </h4>

            </div>
            <div class="modal-body">
              <iframe ng-src="{{stream.channel.display_name}}" frameborder="0" allowfullscreen="true"></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
            <div class="row">
            <div class="col-md-3">
                <button ng-click= 'like(stream._id,stream.channel.game)' type="button" class="btn btn-primary">Like</button>
                </div>
                <div class="col-md-3">
                <button ng-click= 'dislike(stream._id,stream.channel.game<)' type="button" class="btn btn-primary">Dislike</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
</div>
