<div class="games-container">
    <div class="section-header">
        <h2>{{section}}</h2>
    </div>
    <div class="games-grid">
        <div ng-repeat="top in tops | limitTo:36" class="game-item">
            <h4>{{top.game.name | limitTo:25}}</h4>
            <img ng-src="{{top.game.box.large}}">
            <div class="row">
            <div class="col-md-6">
                <button ng-click= 'like(top.game._id,top.game.name)' type="button" class="btn btn-primary">Like</button>
                </div>
                <div class="col-md-6">
                <button ng-click= 'dislike(top.game._id,top.game.name)' type="button" class="btn btn-primary">Dislike</button>
                </div>
            </div>
        </div>
    </div>
</div>

